[Unit]
Description=creates with *rsync* mirroring backups 

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /PATH/main.sh
StandardOutput=append:/PATH/mirroring.log
StandardError=append:/PATH/mirroringError.log
